# docker-compose.yaml
# -----------------------------------------------------------------------------
# https://docs.docker.com/compose/how-tos/environment-variables/envvars/
COMPOSE_PROFILES=selenium-hub

# Profile "selenium-hub" for remote webdrivers
# SELENIUM_HUB_HOST=127.0.0.1
# SELENIUM_HUB_PORT_PUBLISH=4442
# SELENIUM_HUB_PORT_SUBSCRIBE=4443
# SELENIUM_HUB_PORT=4444

# Development
# -----------------------------------------------------------------------------
