# IP of the VM accessible from other services such as Selenium Hub or other services.
# VM_IP=192.168.121.142

# Version of the Selenium (https://github.com/SeleniumHQ/selenium/releases) to use
# SELENIUM_VERSION=4.44.0

# URL of the Selenium Hub that nodes can register
# SELENIUM_HUB_URL=http://<your-ip>:4444
